<div class="col-12 text-center">
    <div class="card border-light mb-3">
        <div class="card-body">
            <input type="text" class="form-control" id="editGroupName" placeholder="Group Name" value="{{name}}"
                required>
            <input type="text" class="form-control" id="editGroupDescription" placeholder="Group Description" value="{{description}}"
                required>
        </div>
        <div class="card-footer text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" id="editBack">
                Back
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" id="editSave">
                Save
            </button>
        </div>
    </div>
</div>