<div>
    <h4>Group Games:</h4>
</div>
<div class="container mt-3">
    <ul class="list-group">
    {{#each this}}
        <li class="list-group-item">{{homeTeam.name}} vs {{awayTeam.name}}</li>
    {{/each}}
    </ul>
</div>