<div class="col-12 text-center">
    <div class="card border-light mb-3">
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>
            <p class="card-text">{{description}}</p>
        </div>
        <div class="card-footer text-right">
             <button type="button" class="btn btn-primary" id="copyButton">
                Copy Group
            </button>
            <button type="button" class="btn btn-primary" id="editButton">
                Edit
            </button>
        </div>
    </div>
</div>