<h1>Group Manager</h1>
<hr>
<p></p>
<div id="resultsGroup"></div>
<p></p>
<div id="resultsGroupEdit"></div>
<p></p>
<div id="resultTeams"></div>
<p></p>

<div class="form-row">
    <div class="col">
        <button type="button" class="btn btn-primary" id="addTeamButton" role="button">Add Team</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" id="getGamesButton" role="button">Get Games</button>
    </div>
</div>

<p></p>
<div id="addTeamForm"></div>
<p></p>
<div id="results"></div>
<p></p>
<div id="modal"></div>
<p></p>
<div id="groupGamesForm"></div>
<p></p>
<div id="groupGamesRes"></div>
<p></p>