<h1>League Search</h1>
<hr>
<p></p>
<div>
    <div id="list"></div>
</div>
<form method="GET" action="/search">
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" id="search">Search</button>
        </div>
    </div>
</form>

<div id="results"></div>
<div id="teams"></div>